<div class="container">
    <br/>

    <div>Changes will not effect previous cases or notes</div>
    <br/>

    <div style="font-size:20px">Patient Information</div>
    <br/>

    <div class="row">
        <div class="col-sm-2">
            <label class="control-label" for="firstName">First Name:</label>
        </div>
        <div class="col-sm-7">
            <input ng-readonly="!isNew" type="text" class="form-control" id="firstName" placeholder="Enter First Name" ng-model="patient.firstName">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="control-label" for="lastName">Last Name:</label>
        </div>
        <div class="col-sm-7">
            <input ng-readonly="!isNew" type="text" class="form-control" id="lastName" placeholder="Enter Last Name" ng-model="patient.lastName">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="control-label" for="dob">DOB:</label>
        </div>
        <div class="col-sm-2">
            <input ng-readonly="!isNew" type="date" class="form-control" id="dob" placeholder="Enter Date of Birth" ng-model="patient.dob">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="control-label" for="gender">Gender:</label>
        </div>
        <div class="col-sm-2">
            <select ng-readonly="!isNew" id="gender" class="form-control" ng-model="patient.gender">
                <option></option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="col-sm-2">
            <label class="control-label" for="dob">Patient Account #:</label>
        </div>
        <div class="col-sm-2">
            <input ng-readonly="!isNew" type="text" class="form-control" ng-model="patient.accountNum">
        </div>
    </div>
    <br/>

    <div style="font-size:20px">Case Information</div>
    <div class="row">
        <div class="col-sm-12 form-inline">
            <label class="control-label">Case #: </label>
            <input class="form-control" ng-model="case.num" type="text"/>
            <label class="control-label">Evaluation Date: </label>
            <input class="form-control" ng-model="case.evalDate" type="date"/>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12 form-inline">
            <label class="control-label">Diagnosis: </label>
            <input class="form-control" ng-model="newDx" type="text"/>
            <button type="button" class="btn btn-primary btn-sm" ng-click="addDx(newDx)">Add</button>
            <ul>
                <li ng-repeat="dx in patientCase.dxs">{{dx.name}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label class="control-label">Discipline: </label>
            <label class="control-label">PT: <input class="btn btn-primary btn-sm" type="radio" ng-model="patientCase.discipline" value="PT"></label>
            <label class="control-label">OT: <input class="btn btn-primary btn-sm" type="radio" ng-model="patientCase.discipline" value="OT"></label>
            <label class="control-label">ST: <input class="btn btn-primary btn-sm" type="radio" ng-model="patientCase.discipline" value="ST"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 form-inline">
            <label class="control-label">Insurance: </label>
            <mk-dropdown class="space-right-sm" item-value="patient.insuranceName" items="availableInsuranceTypes" placeholder="Enter Insurance Provider Name"></mk-dropdown>
        </div>
        <div class="col-sm-4 form-inline">
            <label class="control-label">Madicare? <input type="checkbox" class="form-control" ng-model="patient.medicareFlag"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 form-inline">
            <label class="control-label">Authorized Visits Left:</label>
            <input type="number" min="0" style="width:65px" class="form-control space-right-sm" ng-model="patient.authVisits">
        </div>
        <div class="col-sm-5 form-inline">
            <label class="control-label">Visit Range:</label>
            <input type="date" min="0" class="form-control" ng-model="patient.visitFrom">
            <input type="date" min="0" class="form-control" ng-model="patient.visitTo">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 form-inline">
            <label class="control-label">Requires Authorization?</label>
            <input type="checkbox" class="form-control" ng-model="patient.requireAuth">
        </div>
    </div>
    <br/>
    <button type="button" class="btn btn-primary btn-sm" ng-click="saveCase(false)">Save</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="cancelCase()">Cancel</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="createNote()">Create Note</button>
</div>
