<div class="container">
    <div class="row">
        <h2> Dashboard </h2>
        <br/>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <label class="control-label">Location: </label>
        </div>
        <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="selectedLocation" list="availableLocations" placeholder="Please select location" ng-change="locationAction()">
            <datalist id="availableLocations">
                <option ng-repeat="location in availableLocations" value="{{location}}">
            </datalist>
        </div>
    </div>
</div>