<div class="container">
    <br/>
    <div class="row">
        <div class="col-sm-offset-2">
            <table>
                <tr>
                    <td style="padding-right: 10px; padding-bottom: 10px;">
                        <button style="width:180px; height: 180px" ng-click="goSearch()" class="btn btn-primary btn-sm">CREATE TODAY'S NOTE</button>
                    </td>
                    <td style="padding-right: 10px; padding-bottom: 10px;">
                        <button style="width:180px; height: 180px" ng-click="goNewPatient()" class="btn btn-primary btn-sm">NEW PATIENT</button>
                    </td>
                    <td style="padding-right: 10px; padding-bottom: 10px;">
                        <button style="width:180px; height: 180px" ng-click="goReport()" class="btn btn-primary btn-sm">REPORT</button>
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 10px; padding-bottom: 10px;">
                        <button style="width:180px; height: 180px" ng-click="editProfile(profile.uid)" class="btn btn-primary btn-sm">THERAPIST PROFILE</button>
                    </td>
                    <td style="padding-right: 10px; padding-bottom: 10px;">
                        <button style="width:180px; height: 180px" ng-click="other()" class="btn btn-primary btn-sm">OTHER</button>
                    </td>
                    <td style="padding-right: 10px; padding-bottom: 10px;">
                        <button style="width:180px; height: 180px" ng-click="logOut()" class="btn btn-primary btn-sm">LOGOUT</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>