<div class="container" ng-init="toggleAuthAlert()">
    <!--Patient info-->
    <div class="row">
        <div class="col-sm-3">
            <h3>Patient: <a href="" ng-click="editPatient(data.patientId)" ng-if="noteId=='new'">{{data.patientName}}</a>{{noteId=='new'?'':data.patientName}}</h3>
        </div>
        <div class="col-sm-5" style="margin-top:28px;">
            <label class="control-label">Diagnosis: </label>
            <span ng-repeat="dx in patient.dx track by $index">{{$index==0?"":"&bullet; "}}{{dx.value}} </span>
        </div>
        <div class="col-sm-4 pull-right text-right">
            <div>Insurance: {{data.insuranceName}}</div>
            <div>Visit #: {{data.visitNum}}, Auth Visits Left: {{data.authVisits}}</div>
            <div>Tx Time: {{data.totalTxTime}}, Timed Code: {{data.totalMinCode}}</div>
        </div>

    </div>
    <!--Vital Signs-->
    <div class="row">
        <div class="col-sm-1" style="padding-top: 6px;">
            <div><a href="" ng-click="toggleVitalSigns()">Vital Signs</a></div>
        </div>
        <div ng-show="vitalSignsShow">
            <div class="form-inline col-sm-5">
                <div class="form-group">
                    <label class="control-label"><strong>Before TX </strong></label>
                </div>
                <div class="form-group">
                    <span>BP: </span>
                    <input type="number" class="form-control" ng-model="patient.vsBeforeTx.bpl" style="width:65px">
                    <span>/</span>
                    <input type="number" class="form-control" ng-model="patient.vsBeforeTx.bph" style="width:65px">
                    <span>HR: </span>
                    <input type="number" class="form-control" ng-model="patient.vsBeforeTx.hr" style="width:65px">
                    <span>RESP: </span>
                    <input type="number" class="form-control" ng-model="patient.vsBeforeTx.resp" style="width:65px">
                </div>
            </div>
            <div class="form-inline col-sm-5">
                <div class="form-group">
                    <label class="control-label"><strong>After TX </strong></label>
                </div>
                <div class="form-group">
                    <span>BP: </span>
                    <input type="number" class="form-control" ng-model="patient.vsAfterTx.bpl" style="width:65px">
                    <span>/</span>
                    <input type="number" class="form-control" ng-model="patient.vsAfterTx.bph" style="width:65px">
                    <span>HR: </span>
                    <input type="number" class="form-control" ng-model="patient.vsAfterTx.hr" style="width:65px">
                    <span>RESP: </span>
                    <input type="number" class="form-control" ng-model="patient.vsAfterTx.resp" style="width:65px">
                </div>
            </div>
        </div>
    </div>
    <br/>
    <!--Location and Date-->
    <div class="row">
        <div class="form-inline">
            <div class="col-sm-3 form-group" style="vertical-align: top;">
                <label class="control-label">Date: </label>
                <input type="date" class="form-control" id="noteDate" ng-model="note.date">
            </div>
            <div class="col-sm-5 form-group" style="vertical-align: top;">
                <label class="control-label">Location: </label>
                <mk-dropdown item='note.visitLocation' items='availableLocations' item-label='title' item-id="id"></mk-dropdown>
            </div>
        </div>
    </div>
    <br/>
    <!--Subjective-->
    <div class="panel panel-default">
        <div class="panel-heading">Subjective</div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-1" style="padding-top: 30px;">
                        <label class="control-label">Pain: </label>
                    </div>
                    <div class="col-sm-5" style="border: 1px solid #ccc; padding-bottom: 20px;">
                        <div class="col-sm-6">
                            <label class="control-label">Area</label>
                            <input type="text" class="form-control" id="painArea" ng-model="note.pain.area" list="painAreaList">
                            <datalist id="painAreaList">
                                <option ng-repeat="painArea in availablePainAreas" value="{{painArea}}">
                            </datalist>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Scale</label>
                            <input type="number" min="0" max="10" class="form-control" id="painScale" ng-model="note.pain.scale">
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Inc/Dec</label>
                            <a href="" data-toggle="tooltip" data-placement="right" title="Percentage of pain increased or decreased since initial visit.">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </a>
                            <input type="text" class="form-control" id="painChange" value="{{painChange()}}%" readOnly>
                        </div>
                    </div>
                </div>
                <br/><br/><br/>
            </div>
        </div>
    </div>
    <!--Objective-->
    <div class="panel panel-default">
        <div class="panel-heading">Objective</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-8"><h4>Patient was seen for following skilled therapy</h4></div>
            </div>
            <br/>

            <div class="row">
                <div class="col-sm-4" style="padding-top:5px">
                    <label class="control-label">Choose modalities or prodedure for treatment plan: </label>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="txArea" list="txAreaList" ng-model="selectedTxAreaName" placeholder="TX Area" ng-change="toggleTxArea(selectedTxAreaName)">
                    <datalist id="txAreaList">
                        <option ng-repeat="txAreaName in availableTxAreas" value={{txAreaName}}>
                    </datalist>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-sm-1">
                    <label class="control-label">Modalities: </label>
                </div>
                <div class="col-sm-11">
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('USA')">US</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('ELS')">EL. Stim</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('HPC')">HP/CP</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('ION')">Ionto</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('MEC')">Mech. Tx</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('INF')">Infrared</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('COP')">Com. Pump</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('OTM')">Other Mod.</button>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-sm-1">
                    <label class="control-label">Procedures: </label>
                </div>
                <div class="col-sm-11">
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('MAT')">Man. Tx</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveProcedure('TXE')">TX. Ex</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('NMR')">NM-RE</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('GAI')">Gait</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('FUA')">Func. Act</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('AQU')">Aquatic</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveMotion('RMT')">ROM/MMT</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <label class="control-label"></label>
                </div>
                <div class="col-sm-11">
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('IEV')">Init. Ev</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('REV')">Re-ev</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('FCE')">FCE</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveWc('WC2')">WC</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('MTE')">Man. Tests</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('FTE')">Funct. Tests</button>
                    <button type="submit" class="btn btn-default" style="width:100px" ng-click="saveModality('OTP')">Other Proc.</button>
                </div>
            </div>
            <br/>

            <div class="panel panel-default" ng-repeat="txArea in note.txAreas track by $index">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="" ng-click="toggleTxArea(txArea.name)">Treatment Area: {{txArea.name}}</a>
                        </div>
                        <div class="col-sm-offset-9 col-sm-1">
                            <a href="" ng-click="deleteTxArea(txArea.name)">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body" ng-show="visibleTxAreaName==txArea.name">
                    <!--//******Modalities***************-->
                    <div class="row" ng-if="txArea.modalities.length>0">
                        <div class="col-sm-1">
                            <label class="control-label">Exercise</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Minutes</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Unit(s)</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label">Comments</label>
                        </div>
                    </div>
                    <div class="row" ng-repeat="modality in txArea.modalities track by $index">
                        <div class="col-sm-1">
                            <label class="control-label">{{modality.name}}</label>
                        </div>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="number" min="0" max="98" ng-model="modality.time" ng-change="updateUnits(modality)">
                        </div>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="units" ng-value="getUnits(modality)" readonly>
                        </div>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" ng-model="modality.comments" list="commentsList">
                            <datalist id="commentsList">
                                <option ng-repeat="comment in availableComments" value="{{comment}}">
                            </datalist>
                        </div>
                        <div class="col-sm-1">
                            <a href="" ng-click="deleteModality(modality.id)">Delete</a>
                        </div>
                        <br/><br/>
                    </div>
                    <!--*******Procedures****************-->
                    <div class="row" ng-if="txArea.procedures.length>0">
                        <div class="col-sm-2">
                            <label class="control-label">Exercise</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Sets</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Reps</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Minutes</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Weight</label>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">Comments</label>
                        </div>
                    </div>
                    <div class="row" ng-repeat="procedure in txArea.procedures track by $index">
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="procedure.name">
                        </div>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" ng-model="procedure.sets">
                        </div>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" ng-model="procedure.reps">
                        </div>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" ng-model="procedure.time">
                        </div>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" ng-model="procedure.weight">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="procedure.comments">
                        </div>
                        <br/><br/>
                    </div>
                    <!--********Motions*************-->
                    <div class="row" ng-if="txArea.motions.length>0">
                        <div class="col-sm-2">
                            <label class="control-label">Movement</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">AROM</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">PROM</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">MMT</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">PROM NORM</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">AROM NORM</label>
                        </div>
                    </div>
                    <div class="row" ng-repeat="motion in txArea.motions track by $index">
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="motion.name">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="motion.arom">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="motion.prom">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="motion.mmt">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="motion.promn">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="motion.aromn">
                        </div>
                    </div>
                    <!--******** W C *************-->
                    <div ng-if="txArea.wc">
                        <br/>
                        <h4>Performance</h4>

                        <div class="row">
                            <div class="col-sm-2">
                                <label class="control-label">Normal Pace Exercises</label>
                            </div>
                            <div class="col-sm-1">
                                <input type="checkbox" ng-model="txArea.wc.normalPaceExFlag">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="txArea.wc.normalPaceExReason" placeholder="Reason">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="control-label">Slow Pace Exercises</label>
                            </div>
                            <div class="col-sm-1">
                                <input type="checkbox" ng-model="txArea.wc.slowPaceExFlag">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="txArea.wc.slowPaceExReason" placeholder="Reason">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="control-label">Breaks</label>
                            </div>
                            <div class="col-sm-1">
                                <input type="checkbox" ng-model="txArea.wc.breaksFlag">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="txArea.wc.breaksReason" placeholder="Reason">
                            </div>
                            <div class="col-sm-3">
                                <span class="control-label">How many breaks per hour: </span>
                            </div>
                            <div class="col-sm-1">
                                <input type="number" class="form-control" ng-model="txArea.wc.breaksMinutes" style="width:65px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="control-label">Unable to work</label>
                            </div>
                            <div class="col-sm-1">
                                <input type="checkbox" ng-model="txArea.wc.unableWorkFlag">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="txArea.wc.unableWorkReason" placeholder="Reason">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="control-label">Stopped working</label>
                            </div>
                            <div class="col-sm-1">
                                <input type="checkbox" ng-model="txArea.wc.stoppedWorkFlag">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="txArea.wc.stoppedWorkReason" placeholder="Reason">
                            </div>
                            <div class="col-sm-3">
                                <span class="control-label">Stopped after munutes: </span>
                            </div>
                            <div class="col-sm-1">
                                <input type="number" class="form-control" ng-model="txArea.wc.stoppedMinutes" style="width:65px">
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-sm-2">
                                <label class="control-label">Comments</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="txArea.wc.comments">
                            </div>
                        </div>
                        <div>
                            <h4>Observations/Comments</h4>

                            <div class="row" ng-repeat="observation in availableObservationTypes track by $index">
                                <div class="col-sm-2">
                                    <label class="control-label">{{observation}}</label>
                                </div>
                                <div class="col-sm-2">
                                    <input class="form-control" type="text" ng-model="observations[index].type" list="observationScaleList">
                                    <datalist id="observationScaleList">
                                        <option ng-repeat="observationScale in availableObservationScales" value={{observationScale}}></option>
                                    </datalist>
                                </div>
                                <div class="col-sm-1">
                                    <label class="control-label">Comment</label>
                                </div>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" ng-model="observations[index].comments">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--***************************-->
                </div>
            </div>
        </div>
    </div>
    <!--Assessment-->
    <div class="panel panel-default">
        <div class="panel-heading">Assessment/Functional Progress</div>
        <div class="panel-body">
            <input type="text" class="form-control" ng-model="note.assessment.commentsOne" placeholder="Type here...">
            <input type="text" class="form-control" ng-model="note.assessment.commentsTwo" placeholder="Type here...">
            <input type="text" class="form-control" ng-model="note.assessment.commentsThree" placeholder="Type here...">
        </div>
    </div>
    <!--Plan-->
    <div class="panel panel-default">
        <div class="panel-heading">Plan</div>
        <div class="panel-body">
            <input type="text" class="form-control" ng-model="note.plan.commentsOne" placeholder="Type here...">
            <input type="text" class="form-control" ng-model="note.plan.commentsTwo" placeholder="Type here...">
        </div>
    </div>
    <!--Therapist-->
    <div class="row">
        <div class="col-sm-2">
            <label class="control-label">Therapist Name:</label>
        </div>
        <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="inputProfile" list="terapistList">
            <datalist id="terapistList">
                <option ng-repeat="profile in availableTherapists | filter:filterOnProfile" value="{{profile.firstName}} {{profile.lastName}}, {{profile.credentials}}">{{profile.uid}}</option>
            </datalist>
        </div>
        <div class="col-sm-1">
            <label class="control-label">Date</label>
        </div>
        <div class="col-sm-2">
            <input type="date" class="form-control" ng-model="signDate">
        </div>
    </div>
    <!--CoTherapist-->
    <div class="row">
        <div class="col-sm-2">
            <label class="control-label">Co. Tx Therapist:</label>
        </div>
        <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="inputCoProfile" list="coTerapistList">
            <datalist id="coTerapistList">
                <option ng-repeat="profile in availableCoTherapists" value="{{profile.firstName}} {{profile.lastName}}, {{profile.credentials}}">{{profile.uid}}</option>
            </datalist>
        </div>
        <div class="col-sm-1">
            <label class="control-label">Date</label>
        </div>
        <div class="col-sm-2">
            <input type="date" class="form-control" ng-model="coSignDate">
        </div>
    </div>
    <br/>
    <!--Save-->
    <div class="row">
        <div class="pull-right col-sm-4 text-right">
            <label class="control-label">Billable Note? </label>
            <label class="control-label">Yes: <input class="btn btn-default" type="radio" ng-model="note.billable" ng-value="true" name="billableRadio"></label>
            <label class="control-label">No: <input class="btn btn-default" type="radio" ng-model="note.billable" ng-value="false" name="billableRadio"></label>
            <button type="submit" class="btn btn-default" ng-click="saveNote()">Save</button>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
</div>