<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vital Rehabilitation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>

<div>
    <div class="container">
        <div class="row text-center">
            <div class="span4 ">
                <h4>PHYSICAL THERAPY DAILY NOTE</h4><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="txPlaceSelect">TX Place: </label><br/>
                <select id="txPlaceSelect" class="dropdown" ng-model="value">
                    <option ng-repeat="choice in items" value="{{choice.id}}">{{choice.value}}</option>
                </select>

                <div>Selection: {{value}}</div>
            </div>
            <div class="col-sm-6 col-sm-offset-2">
                <label for="fromDate">From: </label><input id="fromDate" style="width: 140px" type="date" ng-model="report.fromDate"/>
                <label for="toDate">To: </label><input id="toDate" style="width: 140px" type="date" ng-model="report.toDate"/>
                <button type="button" for="fromDate" ng-click="generateReport()">Progress Report</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Column 3</h3>
                First Name: <input type="text" ng-model="firstName"><br>
                Last Name: <input type="text" ng-model="lastName"><br>
                <br>
                Full Name: {{fullName()}}
                <div>
                    {{firstName}}
                    {{firstName}}
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>

                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </di
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="#/patient">Back</a>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
</body>
</html>