<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vital Rehabilitation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>

<div>
    <div class="container">
        <div class="row">
            <h2> Patient Search </h2>
            <br/>
            <label for="searchInput">Search: </label>
            <input id="searchInput" type="text" ng-model="name"/>
            <br/>
            <ul>
                <li ng-repeat="student in students | filter:name">{{student.name}} , {{student.city}}</li>
            </ul>
        </div>
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="patient in patients">
                    <td>{{ patient.name }}</td>
                    <td>{{ patient.email }}</td>
                    <td>{{ patient.phone }}</td>
                    <td> <a href="javascript:void(0)" ng-click="edit(patient.id)">edit</a> | <a href="javascript:void(0)" ng-click="delete(patient.id)">delete</a>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <a href="#/note">Next</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>