<div class="container">
    <div class="row">
        <h2> Patient Search </h2>
        <br/>
    </div>
    <div class="row">
        <label for="searchPatientInput">Search: </label>
        <input id="searchPatientInput" type="text" ng-model="filterInput"/><br/><br/>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>Patient</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="patient in patients | filter:filterOnPatient">
                <td>{{ patient.firstName }}</td>
                <td>{{ patient.lastName }}</td>
                <td>{{ patient.dob | date: "MM-dd-yyyy"}}</td>
                <td>
                    <button ng-click="editPatient(patient.id)" class="btn btn-default">edit</button>
                    <!--<button class="btn btn-default" ng-click="deletePatient(patient.id)">delete</button>-->
                <td>
                    <button ng-click="showNotes(patient.id)" class="btn btn-default">notes</button>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-default" value="Add New" ng-click="addNewPatient()">New Patient</button>
    </div>
</div>
