<div class="container">
    <br/>

    <div>
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label" for="firstName">First Name:</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" ng-model="patient.firstName">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label" for="lastName">Last Name:</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" ng-model="patient.lastName">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label" for="dob">DOB:</label>
            </div>
            <div class="col-sm-2">
                <input type="date" class="form-control" id="dob" placeholder="Enter Date of Birth" ng-model="patient.dob">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label" for="gender">Gender:</label>
            </div>
            <div class="col-sm-2">
                <select id="gender" class="form-control" ng-model="patient.gender">
                    <option></option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
        </div>
        <br/><br/>

        <div><h4>Insurance Information</h4></div>
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label" for="insName">Insurance Name:</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="insName" ng-model="patient.insuranceName" placeholder="Enter Insurance Provider Name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label" for="authVisits">Authorized Visits:</label>
            </div>
            <div class="col-sm-1">
                <input type="number" min="0" class="form-control" ng-model="patient.authVisits" id="authVisits">
            </div>
            <div class="col-sm-2">
                <label class="control-label">Visit Range:</label>
            </div>
            <div class="col-sm-2">
                <input type="date" min="0" class="form-control" ng-model="patient.visitFrom" id="visitFrom">
            </div>
            <div class="col-sm-2">
                <input type="date" min="0" class="form-control" ng-model="patient.visitTo" id="fisitTo">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="savePatient(patient)">Save</button>
            </div>
        </div>
    </div>
</div>
