<div class="container">
    <br/>

    <div class="row">
        <div class="col-sm-4">
            <label class="control-label">User Name: </label>
            <input type="text" class="form-control" ng-model="profile.uid">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label class="control-label">First Name: </label>
            <input type="text" class="form-control" ng-model="profile.firstName">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label class="control-label">Last Name: </label>
            <input type="text" class="form-control" ng-model="profile.lastName">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label class="control-label">Credentials: </label>
            <input type="text" class="form-control" ng-model="profile.credentials">
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-sm-12">
            <label class="control-label">Discipline: </label>
            <label class="control-label">PT: <input class="btn btn-primary btn-sm" type="radio" ng-model="profile.discipline" value="PT"></label>
            <label class="control-label">OT: <input class="btn btn-primary btn-sm" type="radio" ng-model="profile.discipline" value="OT"></label>
            <label class="control-label">ST: <input class="btn btn-primary btn-sm" type="radio" ng-model="profile.discipline" value="ST"></label>
        </div>
    </div>
    <br/>

    <div style="font-size: 20px">Roles:</div>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="profile.isAdmin">Admin</label>
    </div>
    <br/>


    <div><a href="" ng-click="changePassword?changePassword=false:changePassword=true">{{changePassword==true?"Cancel":"Change Password"}}</a></div>
    <br/>

    <div ng-show="changePassword">
        <div class="row">
            <div class="col-sm-4">
                <label class="control-label">Password: </label>
                <input type="password" class="form-control" ng-model="profile.password">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label class="control-label">Verify Password: </label>
                <input type="password" class="form-control" ng-model="verifyPassword">
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <button type="submit" class="btn btn-primary btn-sm" ng-click="saveProfile(profile)">Save</button>
    </div>
</div>
</div>
