<div class="container">
    <br/>
    <div class="row">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="" ng-click="goReport()">Reports</a></li>
                <li><a href="" ng-click="goProfile()">Therapist Profile</a></li>
                <li><a href="" ng-click="logOut()">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <label class="control-label">Patient: </label>
        </div>
        <div class="col-sm-4">
            <input class="form-control" id="searchPatientInput" type="text" ng-model="filterPatientNameInput"
                   placeholder="Search First or Last Name"/>
            <div style="position: fixed; background-color:white;">
                <a style="color: #A94442" href ng-show="filterPatientNameInput && filtered.length==0" ng-click="goNewPatient()">Patient Not Found! Create New Patient/Note</a>
                <div ng-repeat="patient in filtered = (allPatients | filter:filterOnPatient)">
                    <a href ng-click="patientSelectedAction(patient)">{{patient.firstName}} {{patient.lastName}}
                        (DOB: {{patient.dob | date: "MM-dd-yyyy"}}), Account # {{patient.accountNum}}</a>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <label class="control-label">Discipline: </label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="showPT">PT</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="showOT">OT</label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="showST">ST</label>
        </div>
        <div class="col-sm-3">
            <label class="control-label">Case Status: </label>
            <label class="checkbox-inline"><input type="checkbox" ng-model="includeDischarged">Include Discharged</label>
        </div>
    </div>
    <br/><br/>

    <div class="row" ng-show="selectedPatientId">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Case #</th>
                <th>Diagnosis</th>
                <th>Evaluation Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="case in myCases | filter:filterOnCases">
                <td>{{ case.patient.firstName}}</td>
                <td>{{case.patient.lastName}}</td>
                <td>{{case.num}}</td>
                <td><span ng-repeat="dx in case.dxs track by $index">{{$index==0?dx.name:', '+dx.name}}</span></td>
                <td>{{case.evalDate | date: "MM-dd-yyyy"}}</td>
                <td>{{ case.patient.dob | date: "MM-dd-yyyy"}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" ng-click="createTodayNote(case.id)">Create Note
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="editCase(case.id)">Edit Patient</button>
                    <button class="btn btn-primary btn-sm" ng-click="viewAllNotes(case.id)">View All Notes</button>
                    <button class="btn btn-primary btn-sm" ng-click="closeCase(case.id)">Discharge</button>
                    <button class="btn btn-primary btn-sm" ng-click="deleteCase(case.id)">Delete Case</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary btn-sm"  ng-show="selectedPatientId" ng-click="addNewCase(selectedPatient.id)">Create Case/Note</button>
</div>